body {
  margin: 10px 10px;
  padding: 10px 10px;
}
#ListOfTodoSection {
  display: none;
  margin: 10px;
  padding: 1px;
}

#ListOfTodoSection p {
  text-align: left;
  margin: 7.5px 20px;
}

#ListOfTodoSection input[type="checkbox"] {
  text-align: center;
  margin-top: 15px;
}

input[type="checkbox:checked"] ::after {
  text-decoration: line-through;
  content: "completado";
}

.completed {
  text-decoration: line-through;
  color: gray;
}
